<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Jose Plata">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jose Plata</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="shortcut icon" href="../imgs/favicon.ico">
        <script src="https://use.fontawesome.com/38e2745522.js"></script>
        <link rel="author" href="humans.txt">
    </head>
    <body>
        <div class="wrapper">
            <div id="top"></div>
            <div id="bottom"></div>
            <div id="left"></div>
            <div id="right"></div>
            <div class="overlay" id="overlay">
                <div class="project-container">
                    <div class="container about-me">
                        <div class="row">
                            <div class="col-6">
                                <img src="../imgs/profile.jpg" alt="">
                            </div>
                            <div class="col-6">
                                <h1>About Me</h1>
                                <p class="justify">
                                My name is Jose Plata. I'm a Designer &amp; Developer passionate for all-things-digital and human-computer interaction.
                                <br><br>
                                I love working on digital products with a strong focus on UX/UI and user centered design. My main area of expertise revolves around strategic design and research, but I love jumping on the code bandwagon and fiddle with HTML, CSS and Javascript for front-end development or creating little web apps with a Ruby on Rails back-end. I also have a serious relationship with photography and traveling.</p>
                                <br><br>
                                <a href="mailto:hello@joseplata.co"><h3>hello@joseplata.com</h3></a>
                                <br>
                                <ul>
                                    <li><a href="https://twitter.com/joseaplata" target="_blank">Twitter</a></li>
                                    <li><a href="https://dribbble.com/joseplata" target="_blank">Dribbble</a></li>
                                    <li><a href="https://github.com/joseplata" target="_blank">Github</a></li>
                                    <li><a href="https://instagram.com/japlata" target="_blank">Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header icons -->
            <header>
                <div id="logo"><a href="../index.html"><img src="../imgs/logo.png" alt="Jose Plata"></a></div>
                <div class="info-button"><a href="javascript:void(0);" onclick="toggle();"><h4>info</h4></a></div>
            </header>
            <!-- Project View -->
            <section class="project-container">
                <div class="container project-view">
                <!-- Story -->
                    <div class="row">
                        <div class="col-2 hidden-sm"></div>
                        <div class="col-8 justify">
                            <h1>The Book Club</h1>
                            <h4>Brief</h4>
                            <p style="font-style: italic">
                                "DNAinfo is starting a club/library service for its users. The solution must be innovative, functional and elegant. Define: Features and functionality of the service. 
                            <br><br>
                                It should be a user centric mobile experience (mobile first approach), independent of whether the solution is a website, a web application or a native mobile app."
                            </p>
                            <hr>
                            <p>
                                Starting with interviews, onsite observations, background research and wireframes, I designed a meetup-style mobile application to help users connect to other readers with same taste in literature and to book spaces in their neihborhood, thus promoting reading, in-person meetings and local neihborhood commerce. 
                            </p>
                            <br><br>
                            <hr>
                        </div>
                        <div class="col-2 hidden-sm"></div>
                    </div>
                    <!-- Specs -->
                    <div class="row">
                        <div class="col-2 hidden-sm"></div>
                        <div class="col-3">
                            <h3>Role</h3>
                            <p>UX/UI Design &amp; Research</p>
                        </div>
                        <div class="col-3">
                            <h3>Client</h3>
                            <p>Pratt Institute. <br> UX/UI program</p>
                        </div>
                        <div class="col-2">
                            <h3>Year</h3>
                            <p>2016</p>
                        </div>
                        <div class="col-2 hidden-sm"></div>
                    </div>
                    <!-- Imgs -->
                    <div class="row">
                        <div class="col-12 center">
                            <img src="../imgs/bc01.png" alt="">
                            <img src="../imgs/bc02.png" alt="">
                            <img src="../imgs/bc03.png" alt="">
                            <img src="../imgs/bc04.png" alt="">
                            <img src="../imgs/bc05.png" alt="">
                            <img src="../imgs/bc06.png" alt="">
                            <img src="../imgs/bc07.png" alt="">
                            <img src="../imgs/bc00.png" alt="" style="height:20rem ; padding-bottom: 4rem">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 hidden-sm"></div>
                        <div class="col-8 center">
                            <button>
                                <a href="../index.html">back home</a>
                            </button>
                        </div>
                        <div class="col-2 hidden-sm"></div>
                    </div>
                </div>
            </section>
                
              <!-- Footer -->
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-2 hidden-sm"></div>
                        <div class="col-8 center">
                        <hr>
                            <div class="social-icons-footer">
                                <ul>
                                    <li><a href="https://twitter.com/joseaplata" target="_blank">Twitter</a></li>
                                    <li><a href="https://dribbble.com/joseplata" target="_blank">Dribbble</a></li>
                                    <li><a href="https://github.com/joseplata" target="_blank">Github</a></li>
                                    <li><a href="https://instagram.com/japlata" target="_blank">Instagram</a></li>
                                </ul>
                            </div>
                            <br>
                            <p>Built with loads of ❤️ &amp; ☕️ by Jose Plata</p>
                            <br>
                            <div class="mail">
                                <a href="mailto:hello@joseplata.co" style="text-decoration:underline"><h3>hello@joseplata.co</h3></a>
                            </div>
                            <p>&copy; 2017</p>
                        </div>
                        <div class="col-2 hidden-sm"></div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="../js/jquery-3.1.1.min.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>