<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Jose Plata">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jose Plata</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="shortcut icon" href="../imgs/favicon.ico">
        <script src="https://use.fontawesome.com/38e2745522.js"></script>
        <link rel="author" href="humans.txt">
    </head>
    <body>
        <div class="wrapper">
            <div id="top"></div>
            <div id="bottom"></div>
            <div id="left"></div>
            <div id="right"></div>
            <div class="overlay" id="overlay">
                <div class="project-container">
                    <div class="container about-me">
                        <div class="row">
                            <div class="col-6">
                                <img src="../imgs/profile.jpg" alt="">
                            </div>
                            <div class="col-6">
                                <h1>About Me</h1>
                                <p class="justify">
                                My name is Jose Plata. I'm a Designer &amp; Developer passionate for all-things-digital and human-computer interaction.
                                <br><br>
                                I love working on digital products with a strong focus on UX/UI and user centered design. My main area of expertise revolves around strategic design and research, but I love jumping on the code bandwagon and fiddle with HTML, CSS and Javascript for front-end development or creating little web apps with a Ruby on Rails back-end. I also have a serious relationship with photography and traveling.</p>
                                <br><br>
                                <a href="mailto:hello@joseplata.co"><h3>hello@joseplata.com</h3></a>
                                <br>
                                <ul>
                                    <li><a href="https://twitter.com/joseaplata" target="_blank">Twitter</a></li>
                                    <li><a href="https://dribbble.com/joseplata" target="_blank">Dribbble</a></li>
                                    <li><a href="https://github.com/joseplata" target="_blank">Github</a></li>
                                    <li><a href="https://instagram.com/japlata" target="_blank">Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header icons -->
            <header>
                <div id="logo"><a href="../index.html"><img src="../imgs/logo.png" alt="Jose Plata"></a></div>
                <div class="info-button"><a href="javascript:void(0);" onclick="toggle();"><h4>info</h4></a></div>
            </header>

            <!-- Project View -->
            <section class="project-container">
                <div class="container project-view">
                <!-- Story -->
                    <div class="row">
                        <div class="col-2 hidden-sm"></div>
                        <div class="col-8 justify">
                            <h1>Mixt</h1>
                            <p>
                                MIXT is a personal project developed along with <a href="http://joe-Gigs.github.io" target="_blank">Joe Giglio</a> to try out our first full WebApp using Ruby on Rails and streaming services' API. Being both lovers of music and Cassette Tapes, we decided to build a Vaporwave looking platform that allows users to create and customize digital mixtapes (~10 songs limit) that they can share with their friends and loved ones, or just keep them on their own digital shelves ¯\_(ツ)_/¯ who knows.
                            </p>
                            <br><br>
                            <p>
                                “That's one of the great things about music. You can sing a song to 85,000 people and they'll sing it back for 85,000 different reasons” – Dave Grohl
                            </p>
                            <hr>
                        </div>
                        <div class="col-2 hidden-sm"></div>
                    </div>
                    <!-- Specs -->
                    <div class="row">
                        <div class="col-2 hidden-sm"></div>
                        <div class="col-3">
                            <h3>Role</h3>
                            <p>Design &amp; Development</p>
                            <p>With: <a href="http://joe-Gigs.github.io" target="_blank">Joe Giglio</a></p>
                        </div>
                        <div class="col-3">
                            <h3>Client</h3>
                            <p>Personal</p>
                        </div>
                        <div class="col-2">
                            <h3>Year</h3>
                            <p>2015</p>
                        </div>
                        <div class="col-2 hidden-sm"></div>
                    </div>
                    <!-- Imgs -->
                    <div class="row">
                        <div class="col-12 center">
                            <img src="../imgs/mixt01.png" alt="">
                            <img src="../imgs/mixt02.png" alt="">
                            <img src="../imgs/mixt03.png" alt="">
                            <figcaption class="center">
                                <p>
                                    "Hey! just wanted to wish you an amazing birthday…i know i’m in new york now, so i wont be able to make it to your house party, as every other year. but hopefully this tape will remind you of the fun we had last year. i remember headbaning to nirvana and then chillin’ out with kiasmos when we were really drunk by the end of the night."
                                 - Happy Birthday mate!
                                 </p>
                            </figcaption>
                            <img src="../imgs/mixt04.png" alt="">
                            <img src="../imgs/mixt05.png" alt="">
                            <img src="../imgs/mixt00.png" alt="" style="padding-bottom: 2rem">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 hidden-sm"></div>
                        <div class="col-8 center">
                            <button>
                                <a href="../index.html">back home</a>
                            </button>
                        </div>
                        <div class="col-2 hidden-sm"></div>
                    </div>
                </div>
            </section>
                
              <!-- Footer -->
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-2 hidden-sm"></div>
                        <div class="col-8 center">
                        <hr>
                            <div class="social-icons-footer">
                                <ul>
                                    <li><a href="https://twitter.com/joseaplata" target="_blank">Twitter</a></li>
                                    <li><a href="https://dribbble.com/joseplata" target="_blank">Dribbble</a></li>
                                    <li><a href="https://github.com/joseplata" target="_blank">Github</a></li>
                                    <li><a href="https://instagram.com/japlata" target="_blank">Instagram</a></li>
                                </ul>
                            </div>
                            <br>
                            <p>Built with loads of ❤️ &amp; ☕️ by Jose Plata</p>
                            <br>
                            <div class="mail">
                                <a href="mailto:hello@joseplata.co" style="text-decoration:underline"><h3>hello@joseplata.co</h3></a>
                            </div>
                            <p>&copy; 2017</p>
                        </div>
                        <div class="col-2 hidden-sm"></div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="../js/jquery-3.1.1.min.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>